@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Open+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&display=swap");

.plasmic_tokens {
  --token-oGR4wCH8jKNx: #05367e;
  --plasmic-token-blue-dark: var(--token-oGR4wCH8jKNx);
  --token-RSkbwtzqQxy0: #ffffff;
  --plasmic-token-white-color: var(--token-RSkbwtzqQxy0);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-IGH0Di6pxfsg_font-family: "Montserrat", sans-serif;
  --mixin-IGH0Di6pxfsg_font-size: 16px;
  --mixin-IGH0Di6pxfsg_font-weight: 400;
  --mixin-IGH0Di6pxfsg_font-style: normal;
  --mixin-IGH0Di6pxfsg_color: #535353;
  --mixin-IGH0Di6pxfsg_text-align: left;
  --mixin-IGH0Di6pxfsg_text-transform: none;
  --mixin-IGH0Di6pxfsg_line-height: 1.7;
  --mixin-IGH0Di6pxfsg_letter-spacing: normal;
  --mixin-IGH0Di6pxfsg_white-space: pre-wrap;
  --mixin-IGH0Di6pxfsg_user-select: text;
  --mixin-IGH0Di6pxfsg_text-decoration-line: none;
  --mixin-IGH0Di6pxfsg_text-overflow: clip;
  --mixin-0n_Il3CjUEIA_color: var(--token-RSkbwtzqQxy0);
  --mixin-0n_Il3CjUEIA_font-weight: 400;
  --mixin-0n_Il3CjUEIA_font-size: 72px;
  --mixin-0n_Il3CjUEIA_line-height: 1;
  --mixin-0n_Il3CjUEIA_letter-spacing: -1px;
  --mixin-0n_Il3CjUEIA_font-family: "Playfair Display", serif;
  --mixin-0n_Il3CjUEIA_white-space: pre-wrap;
  --mixin-g9yD0-IG9q2W_color: #000000;
  --mixin-g9yD0-IG9q2W_font-weight: 500;
  --mixin-g9yD0-IG9q2W_font-size: 40px;
  --mixin-g9yD0-IG9q2W_line-height: 1.1;
  --mixin-g9yD0-IG9q2W_letter-spacing: -1px;
  --mixin-g9yD0-IG9q2W_font-family: "Playfair Display", serif;
  --mixin-g9yD0-IG9q2W_white-space: pre-wrap;
  --mixin-ODuBvKzv4gFI_color: #3291ff;
  --mixin-ODuBvKzv4gFI_white-space: pre-wrap;
  --mixin-YK9wiSh1PoQ4_color: #000000;
  --mixin-YK9wiSh1PoQ4_font-weight: 600;
  --mixin-YK9wiSh1PoQ4_font-size: 30px;
  --mixin-YK9wiSh1PoQ4_line-height: 1.2;
  --mixin-YK9wiSh1PoQ4_letter-spacing: -0.1px;
  --mixin-YK9wiSh1PoQ4_white-space: pre-wrap;
  --mixin-LdwmWnQ29CRn_color: #000000;
  --mixin-LdwmWnQ29CRn_font-weight: 600;
  --mixin-LdwmWnQ29CRn_font-size: 21px;
  --mixin-LdwmWnQ29CRn_line-height: 1.3;
  --mixin-LdwmWnQ29CRn_letter-spacing: 0px;
  --mixin-LdwmWnQ29CRn_white-space: pre-wrap;
  --mixin-00iK3ZaRQvJo_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-00iK3ZaRQvJo_border-bottom-color: #dddddd;
  --mixin-00iK3ZaRQvJo_border-bottom-style: solid;
  --mixin-00iK3ZaRQvJo_border-bottom-width: 1px;
  --mixin-00iK3ZaRQvJo_border-left-color: #dddddd;
  --mixin-00iK3ZaRQvJo_border-left-style: solid;
  --mixin-00iK3ZaRQvJo_border-left-width: 1px;
  --mixin-00iK3ZaRQvJo_border-right-color: #dddddd;
  --mixin-00iK3ZaRQvJo_border-right-style: solid;
  --mixin-00iK3ZaRQvJo_border-right-width: 1px;
  --mixin-00iK3ZaRQvJo_border-top-color: #dddddd;
  --mixin-00iK3ZaRQvJo_border-top-style: solid;
  --mixin-00iK3ZaRQvJo_border-top-width: 1px;
  --mixin-00iK3ZaRQvJo_border-bottom-left-radius: 3px;
  --mixin-00iK3ZaRQvJo_border-bottom-right-radius: 3px;
  --mixin-00iK3ZaRQvJo_border-top-left-radius: 3px;
  --mixin-00iK3ZaRQvJo_border-top-right-radius: 3px;
  --mixin-00iK3ZaRQvJo_font-family: "Inconsolata";
  --mixin-00iK3ZaRQvJo_padding-bottom: 1px;
  --mixin-00iK3ZaRQvJo_padding-left: 4px;
  --mixin-00iK3ZaRQvJo_padding-right: 4px;
  --mixin-00iK3ZaRQvJo_padding-top: 1px;
  --mixin-00iK3ZaRQvJo_white-space: pre-wrap;
  --mixin--sUJdi3nTJJk_border-left-color: #dddddd;
  --mixin--sUJdi3nTJJk_border-left-style: solid;
  --mixin--sUJdi3nTJJk_border-left-width: 3px;
  --mixin--sUJdi3nTJJk_color: #888888;
  --mixin--sUJdi3nTJJk_padding-left: 10px;
  --mixin--sUJdi3nTJJk_white-space: pre-wrap;
  --mixin-v-cRQDvSqp-1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-v-cRQDvSqp-1_border-bottom-color: #dddddd;
  --mixin-v-cRQDvSqp-1_border-bottom-style: solid;
  --mixin-v-cRQDvSqp-1_border-bottom-width: 1px;
  --mixin-v-cRQDvSqp-1_border-left-color: #dddddd;
  --mixin-v-cRQDvSqp-1_border-left-style: solid;
  --mixin-v-cRQDvSqp-1_border-left-width: 1px;
  --mixin-v-cRQDvSqp-1_border-right-color: #dddddd;
  --mixin-v-cRQDvSqp-1_border-right-style: solid;
  --mixin-v-cRQDvSqp-1_border-right-width: 1px;
  --mixin-v-cRQDvSqp-1_border-top-color: #dddddd;
  --mixin-v-cRQDvSqp-1_border-top-style: solid;
  --mixin-v-cRQDvSqp-1_border-top-width: 1px;
  --mixin-v-cRQDvSqp-1_border-bottom-left-radius: 3px;
  --mixin-v-cRQDvSqp-1_border-bottom-right-radius: 3px;
  --mixin-v-cRQDvSqp-1_border-top-left-radius: 3px;
  --mixin-v-cRQDvSqp-1_border-top-right-radius: 3px;
  --mixin-v-cRQDvSqp-1_font-family: "Inconsolata";
  --mixin-v-cRQDvSqp-1_padding-bottom: 3px;
  --mixin-v-cRQDvSqp-1_padding-left: 6px;
  --mixin-v-cRQDvSqp-1_padding-right: 6px;
  --mixin-v-cRQDvSqp-1_padding-top: 3px;
  --mixin-v-cRQDvSqp-1_white-space: pre-wrap;
  --mixin--veypcw0WbJL_font-family: "Montserrat", sans-serif;
  --mixin--veypcw0WbJL_font-weight: 600;
  --mixin--veypcw0WbJL_font-size: 16px;
  --mixin--veypcw0WbJL_white-space: pre-wrap;
  --mixin-c5OppmCX96-f_font-family: "Inter", sans-serif;
  --mixin-c5OppmCX96-f_color: #000000;
  --mixin-c5OppmCX96-f_font-size: 16px;
  --mixin-c5OppmCX96-f_font-weight: 600;
  --mixin-c5OppmCX96-f_line-height: 1.5;
  --mixin-c5OppmCX96-f_white-space: pre-wrap;
  --mixin-BDbhFJcy-Dva_display: flex;
  --mixin-BDbhFJcy-Dva_flex-direction: column;
  --mixin-BDbhFJcy-Dva_align-items: stretch;
  --mixin-BDbhFJcy-Dva_justify-content: flex-start;
  --mixin-BDbhFJcy-Dva_list-style-position: outside;
  --mixin-BDbhFJcy-Dva_padding-left: 40px;
  --mixin-BDbhFJcy-Dva_position: relative;
  --mixin-BDbhFJcy-Dva_list-style-type: decimal;
  --mixin-BDbhFJcy-Dva_white-space: pre-wrap;
  --mixin-iqfcZfSGFvK2_display: flex;
  --mixin-iqfcZfSGFvK2_flex-direction: column;
  --mixin-iqfcZfSGFvK2_align-items: stretch;
  --mixin-iqfcZfSGFvK2_justify-content: flex-start;
  --mixin-iqfcZfSGFvK2_list-style-position: outside;
  --mixin-iqfcZfSGFvK2_padding-left: 40px;
  --mixin-iqfcZfSGFvK2_position: relative;
  --mixin-iqfcZfSGFvK2_list-style-type: disc;
  --mixin-iqfcZfSGFvK2_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-GqgqcX9vmGoC_white-space: pre-wrap;
  --plasmic-mixin-menu-text_white-space: var(--mixin-GqgqcX9vmGoC_white-space);
  --mixin-b8Ahde98PIlq_white-space: pre-wrap;
  --plasmic-mixin-height-equal_white-space: var(
    --mixin-b8Ahde98PIlq_white-space
  );
  --mixin-KhchC3j28-Ap_white-space: pre-wrap;
  --plasmic-mixin-location-mixin_white-space: var(
    --mixin-KhchC3j28-Ap_white-space
  );
  --mixin-c3Tzl8wKD6Dm_white-space: pre-wrap;
  --plasmic-mixin-price_white-space: var(--mixin-c3Tzl8wKD6Dm_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-IGH0Di6pxfsg_font-family);
  font-size: var(--mixin-IGH0Di6pxfsg_font-size);
  font-weight: var(--mixin-IGH0Di6pxfsg_font-weight);
  font-style: var(--mixin-IGH0Di6pxfsg_font-style);
  color: var(--mixin-IGH0Di6pxfsg_color);
  text-align: var(--mixin-IGH0Di6pxfsg_text-align);
  text-transform: var(--mixin-IGH0Di6pxfsg_text-transform);
  line-height: var(--mixin-IGH0Di6pxfsg_line-height);
  letter-spacing: var(--mixin-IGH0Di6pxfsg_letter-spacing);
  white-space: var(--mixin-IGH0Di6pxfsg_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-0n_Il3CjUEIA_color);
  font-weight: var(--mixin-0n_Il3CjUEIA_font-weight);
  font-size: var(--mixin-0n_Il3CjUEIA_font-size);
  line-height: var(--mixin-0n_Il3CjUEIA_line-height);
  letter-spacing: var(--mixin-0n_Il3CjUEIA_letter-spacing);
  font-family: var(--mixin-0n_Il3CjUEIA_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-g9yD0-IG9q2W_color);
  font-weight: var(--mixin-g9yD0-IG9q2W_font-weight);
  font-size: var(--mixin-g9yD0-IG9q2W_font-size);
  line-height: var(--mixin-g9yD0-IG9q2W_line-height);
  letter-spacing: var(--mixin-g9yD0-IG9q2W_letter-spacing);
  font-family: var(--mixin-g9yD0-IG9q2W_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-ODuBvKzv4gFI_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-YK9wiSh1PoQ4_color);
  font-weight: var(--mixin-YK9wiSh1PoQ4_font-weight);
  font-size: var(--mixin-YK9wiSh1PoQ4_font-size);
  line-height: var(--mixin-YK9wiSh1PoQ4_line-height);
  letter-spacing: var(--mixin-YK9wiSh1PoQ4_letter-spacing);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-LdwmWnQ29CRn_color);
  font-weight: var(--mixin-LdwmWnQ29CRn_font-weight);
  font-size: var(--mixin-LdwmWnQ29CRn_font-size);
  line-height: var(--mixin-LdwmWnQ29CRn_line-height);
  letter-spacing: var(--mixin-LdwmWnQ29CRn_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-00iK3ZaRQvJo_font-family);
  border-radius: var(--mixin-00iK3ZaRQvJo_border-top-left-radius)
    var(--mixin-00iK3ZaRQvJo_border-top-right-radius)
    var(--mixin-00iK3ZaRQvJo_border-bottom-right-radius)
    var(--mixin-00iK3ZaRQvJo_border-bottom-left-radius);
  padding: var(--mixin-00iK3ZaRQvJo_padding-top)
    var(--mixin-00iK3ZaRQvJo_padding-right)
    var(--mixin-00iK3ZaRQvJo_padding-bottom)
    var(--mixin-00iK3ZaRQvJo_padding-left);
  border-top: var(--mixin-00iK3ZaRQvJo_border-top-width)
    var(--mixin-00iK3ZaRQvJo_border-top-style)
    var(--mixin-00iK3ZaRQvJo_border-top-color);
  border-right: var(--mixin-00iK3ZaRQvJo_border-right-width)
    var(--mixin-00iK3ZaRQvJo_border-right-style)
    var(--mixin-00iK3ZaRQvJo_border-right-color);
  border-bottom: var(--mixin-00iK3ZaRQvJo_border-bottom-width)
    var(--mixin-00iK3ZaRQvJo_border-bottom-style)
    var(--mixin-00iK3ZaRQvJo_border-bottom-color);
  border-left: var(--mixin-00iK3ZaRQvJo_border-left-width)
    var(--mixin-00iK3ZaRQvJo_border-left-style)
    var(--mixin-00iK3ZaRQvJo_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin--sUJdi3nTJJk_color);
  padding-left: var(--mixin--sUJdi3nTJJk_padding-left);
  border-left: var(--mixin--sUJdi3nTJJk_border-left-width)
    var(--mixin--sUJdi3nTJJk_border-left-style)
    var(--mixin--sUJdi3nTJJk_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-v-cRQDvSqp-1_font-family);
  border-radius: var(--mixin-v-cRQDvSqp-1_border-top-left-radius)
    var(--mixin-v-cRQDvSqp-1_border-top-right-radius)
    var(--mixin-v-cRQDvSqp-1_border-bottom-right-radius)
    var(--mixin-v-cRQDvSqp-1_border-bottom-left-radius);
  padding: var(--mixin-v-cRQDvSqp-1_padding-top)
    var(--mixin-v-cRQDvSqp-1_padding-right)
    var(--mixin-v-cRQDvSqp-1_padding-bottom)
    var(--mixin-v-cRQDvSqp-1_padding-left);
  border-top: var(--mixin-v-cRQDvSqp-1_border-top-width)
    var(--mixin-v-cRQDvSqp-1_border-top-style)
    var(--mixin-v-cRQDvSqp-1_border-top-color);
  border-right: var(--mixin-v-cRQDvSqp-1_border-right-width)
    var(--mixin-v-cRQDvSqp-1_border-right-style)
    var(--mixin-v-cRQDvSqp-1_border-right-color);
  border-bottom: var(--mixin-v-cRQDvSqp-1_border-bottom-width)
    var(--mixin-v-cRQDvSqp-1_border-bottom-style)
    var(--mixin-v-cRQDvSqp-1_border-bottom-color);
  border-left: var(--mixin-v-cRQDvSqp-1_border-left-width)
    var(--mixin-v-cRQDvSqp-1_border-left-style)
    var(--mixin-v-cRQDvSqp-1_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin--veypcw0WbJL_font-family);
  font-weight: var(--mixin--veypcw0WbJL_font-weight);
  font-size: var(--mixin--veypcw0WbJL_font-size);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-c5OppmCX96-f_font-family);
  color: var(--mixin-c5OppmCX96-f_color);
  font-size: var(--mixin-c5OppmCX96-f_font-size);
  font-weight: var(--mixin-c5OppmCX96-f_font-weight);
  line-height: var(--mixin-c5OppmCX96-f_line-height);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-BDbhFJcy-Dva_display);
  flex-direction: var(--mixin-BDbhFJcy-Dva_flex-direction);
  align-items: var(--mixin-BDbhFJcy-Dva_align-items);
  justify-content: var(--mixin-BDbhFJcy-Dva_justify-content);
  list-style-position: var(--mixin-BDbhFJcy-Dva_list-style-position);
  padding-left: var(--mixin-BDbhFJcy-Dva_padding-left);
  position: var(--mixin-BDbhFJcy-Dva_position);
  list-style-type: var(--mixin-BDbhFJcy-Dva_list-style-type);
  flex-column-gap: var(--mixin-BDbhFJcy-Dva_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-iqfcZfSGFvK2_display);
  flex-direction: var(--mixin-iqfcZfSGFvK2_flex-direction);
  align-items: var(--mixin-iqfcZfSGFvK2_align-items);
  justify-content: var(--mixin-iqfcZfSGFvK2_justify-content);
  list-style-position: var(--mixin-iqfcZfSGFvK2_list-style-position);
  padding-left: var(--mixin-iqfcZfSGFvK2_padding-left);
  position: var(--mixin-iqfcZfSGFvK2_position);
  list-style-type: var(--mixin-iqfcZfSGFvK2_list-style-type);
  flex-column-gap: var(--mixin-iqfcZfSGFvK2_flex-column-gap);
}
