.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-oGR4wCH8jKNx);
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__tqOze {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 49px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tqOze {
    padding: 30px;
  }
}
.freeBox__oSKwa {
  display: flex;
  position: relative;
  max-width: 1380px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__oSKwa > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__oSKwa > :global(.__wab_flex-container) > *,
.freeBox__oSKwa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oSKwa > :global(.__wab_flex-container) > picture > img,
.freeBox__oSKwa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oSKwa {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oSKwa > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oSKwa > :global(.__wab_flex-container) > *,
  .freeBox__oSKwa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oSKwa > :global(.__wab_flex-container) > picture > img,
  .freeBox__oSKwa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__rlg5Z {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__rlg5Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__rlg5Z > :global(.__wab_flex-container) > *,
.freeBox__rlg5Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rlg5Z > :global(.__wab_flex-container) > picture > img,
.freeBox__rlg5Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__qY82 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qY82 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qY82 > :global(.__wab_flex-container) > *,
.freeBox__qY82 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qY82 > :global(.__wab_flex-container) > picture > img,
.freeBox__qY82
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h4__diCfp {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin-bottom: 10px;
  color: var(--token-RSkbwtzqQxy0);
}
.freeBox__raW2Q {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-left: -9px;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__raW2Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox__raW2Q > :global(.__wab_flex-container) > *,
.freeBox__raW2Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__raW2Q > :global(.__wab_flex-container) > picture > img,
.freeBox__raW2Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.freeBox__jfx0R {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 0px;
  padding: 0px;
}
.svg___0FyQ {
  object-fit: cover;
  width: 25px;
  height: 28px;
  color: var(--token-RSkbwtzqQxy0);
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox__vB8R6 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__hQf14 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__zRdSx {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zRdSx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__zRdSx > :global(.__wab_flex-container) > *,
.freeBox__zRdSx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zRdSx > :global(.__wab_flex-container) > picture > img,
.freeBox__zRdSx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__rjQfT {
  height: auto;
  align-self: center;
  color: var(--token-RSkbwtzqQxy0);
  max-width: 257px;
  width: 100%;
  min-width: 0;
}
.freeBox___6C1Bf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-left: -9px;
  margin-top: calc(3px + 16px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox___6C1Bf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox___6C1Bf > :global(.__wab_flex-container) > *,
.freeBox___6C1Bf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6C1Bf > :global(.__wab_flex-container) > picture > img,
.freeBox___6C1Bf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.freeBox__vwtCv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 0px;
  padding: 0px;
}
.svg__jUzfL {
  object-fit: cover;
  width: 24px;
  height: 20px;
  color: var(--token-RSkbwtzqQxy0);
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox__ucm5C {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__c5PUa {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___1707 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___1707 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___1707 > :global(.__wab_flex-container) > *,
.freeBox___1707 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1707 > :global(.__wab_flex-container) > picture > img,
.freeBox___1707
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__b379 {
  height: auto;
  align-self: center;
  color: var(--token-RSkbwtzqQxy0);
}
.freeBox___9FOp4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-left: -9px;
  margin-top: calc(3px + 16px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox___9FOp4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox___9FOp4 > :global(.__wab_flex-container) > *,
.freeBox___9FOp4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9FOp4 > :global(.__wab_flex-container) > picture > img,
.freeBox___9FOp4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.freeBox__p8Eoi {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 0px;
  padding: 0px;
}
.svg__tCmKb {
  object-fit: cover;
  width: 24px;
  height: 20px;
  color: var(--token-RSkbwtzqQxy0);
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox___1DmF8 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__aMYrd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ywylk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ywylk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ywylk > :global(.__wab_flex-container) > *,
.freeBox__ywylk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ywylk > :global(.__wab_flex-container) > picture > img,
.freeBox__ywylk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__r7ND6 {
  height: auto;
  align-self: center;
  color: var(--token-RSkbwtzqQxy0);
}
.freeBox__am2Hl {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(9px + 16px) !important;
}
.freeBox__am2Hl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__am2Hl > :global(.__wab_flex-container) > *,
.freeBox__am2Hl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__am2Hl > :global(.__wab_flex-container) > picture > img,
.freeBox__am2Hl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__xj3SV {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-RSkbwtzqQxy0);
  flex-shrink: 0;
}
.svg__bcOa0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-RSkbwtzqQxy0);
  flex-shrink: 0;
}
.svg__uJwyn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-RSkbwtzqQxy0);
  flex-shrink: 0;
}
.freeBox__mBvLh {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__mBvLh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mBvLh > :global(.__wab_flex-container) > *,
.freeBox__mBvLh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mBvLh > :global(.__wab_flex-container) > picture > img,
.freeBox__mBvLh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h4__eTmXi {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin-bottom: 10px;
  color: var(--token-RSkbwtzqQxy0);
}
.link___7PVxs {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___7PVxs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___7PVxs > :global(.__wab_flex-container) > *,
.link___7PVxs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___7PVxs > :global(.__wab_flex-container) > picture > img,
.link___7PVxs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___21Nr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nzq9U {
  height: auto;
  color: var(--token-RSkbwtzqQxy0);
}
.svg__foMbf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__dfpwU {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__dfpwU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__dfpwU > :global(.__wab_flex-container) > *,
.link__dfpwU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__dfpwU > :global(.__wab_flex-container) > picture > img,
.link__dfpwU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___8FDet {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___4Ksw7 {
  height: auto;
  color: var(--token-RSkbwtzqQxy0);
}
.svg__oyy0I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__eD1GO {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__eD1GO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__eD1GO > :global(.__wab_flex-container) > *,
.link__eD1GO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__eD1GO > :global(.__wab_flex-container) > picture > img,
.link__eD1GO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__nIuXr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nicsi {
  height: auto;
  color: var(--token-RSkbwtzqQxy0);
}
.svg__bSlJu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__sotxI {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__sotxI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__sotxI > :global(.__wab_flex-container) > *,
.link__sotxI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__sotxI > :global(.__wab_flex-container) > picture > img,
.link__sotxI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rmZ0Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__eyqxI {
  height: auto;
  color: var(--token-RSkbwtzqQxy0);
}
.svg__dJn8D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__ghgAd {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__ghgAd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ghgAd > :global(.__wab_flex-container) > *,
.freeBox__ghgAd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ghgAd > :global(.__wab_flex-container) > picture > img,
.freeBox__ghgAd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h4__x5EFf {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin-bottom: 10px;
  color: var(--token-RSkbwtzqQxy0);
}
.link__srEnF {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__srEnF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__srEnF > :global(.__wab_flex-container) > *,
.link__srEnF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__srEnF > :global(.__wab_flex-container) > picture > img,
.link__srEnF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__isqMn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hdWu3 {
  color: var(--token-RSkbwtzqQxy0);
}
.svg___8W26J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__xy7Zh {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__xy7Zh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__xy7Zh > :global(.__wab_flex-container) > *,
.link__xy7Zh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__xy7Zh > :global(.__wab_flex-container) > picture > img,
.link__xy7Zh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__o04X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__tVQt {
  color: var(--token-RSkbwtzqQxy0);
}
.svg__b17Sf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___2GxBw {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___2GxBw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___2GxBw > :global(.__wab_flex-container) > *,
.link___2GxBw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___2GxBw > :global(.__wab_flex-container) > picture > img,
.link___2GxBw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__zgODn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__rguSs {
  color: var(--token-RSkbwtzqQxy0);
}
.svg__t6Oct {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__qmvlz {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__qmvlz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__qmvlz > :global(.__wab_flex-container) > *,
.link__qmvlz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__qmvlz > :global(.__wab_flex-container) > picture > img,
.link__qmvlz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__taPxT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hHc3M {
  color: var(--token-RSkbwtzqQxy0);
}
.svg__egAoP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__swvWd {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__swvWd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__swvWd > :global(.__wab_flex-container) > *,
.freeBox__swvWd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__swvWd > :global(.__wab_flex-container) > picture > img,
.freeBox__swvWd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h4__m61Nv {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin-bottom: 10px;
  color: var(--token-RSkbwtzqQxy0);
}
.link__yQZnC {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__yQZnC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yQZnC > :global(.__wab_flex-container) > *,
.link__yQZnC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yQZnC > :global(.__wab_flex-container) > picture > img,
.link__yQZnC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__tm3Mo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___7Qg5Y {
  color: var(--token-RSkbwtzqQxy0);
}
.svg__mzu33 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__mcFv4 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__mcFv4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mcFv4 > :global(.__wab_flex-container) > *,
.link__mcFv4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mcFv4 > :global(.__wab_flex-container) > picture > img,
.link__mcFv4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ifUz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__bBssg {
  color: var(--token-RSkbwtzqQxy0);
}
.svg__riLo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__iGbwj {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__iGbwj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__iGbwj > :global(.__wab_flex-container) > *,
.link__iGbwj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__iGbwj > :global(.__wab_flex-container) > picture > img,
.link__iGbwj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uxdwm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___9AvU {
  padding-right: 0px;
  color: var(--token-RSkbwtzqQxy0);
}
.svg__x9ANf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__h6U3R {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__h6U3R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__h6U3R > :global(.__wab_flex-container) > *,
.link__h6U3R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__h6U3R > :global(.__wab_flex-container) > picture > img,
.link__h6U3R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rUoEs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__dUG8 {
  color: var(--token-RSkbwtzqQxy0);
}
.svg___2RIaf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__cSdFy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 28px 8px;
  border-top: 1px solid #afafaf73;
}
.text___1KvBh {
  height: auto;
  align-self: center;
  text-align: center;
  color: var(--token-RSkbwtzqQxy0);
}
.link__z0Eg3 {
  color: #ffcf0a;
}
